
.button1{
	border:2px solid;
	border-color:#e1f5ea;
	padding:50px;
	text-decoration:none;
}

.button2{
	border:2px solid;
	border-color:#e1f5ea;
	padding:50px;
	text-decoration:none;
}
.button3{
	border:2px solid;
	border-color:#e1f5ea;
	padding:50px;
	text-decoration:none;
}
.button4{
	border:2px solid;
	border-color:#e1f5ea;
	padding:50px;
	text-decoration:none;
}
.button5{
	border:2px solid;
	border-color:#e1f5ea;
	padding:50px;
	text-decoration:none;
}