
.button1{
	border:2px solid;
	border-color:red;
	padding:20px;}
.button2{
	border:2px solid;
	border-color:red;
	padding:20px;
}
.button3{
	border:2px solid;
	border-color:red;
	padding:20px;
}
.button4{
	border:2px solid;
	border-color:red;
	padding:20px;
}
.button5{
	border:2px solid;
	border-color:red;
	padding:20px;
}